html {
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
}

a {
  color: lightseagreen;
}

b {
    color: plum;
}

i {
    color: orange;
}

.separateur {
    background: white;
    width: 30%;
    height: 4px;
    margin: 10px auto;
}

.classic_div {
  background-color: darkgray;
  padding: 30px;
  border: 5px solid red;
  margin: auto;
}

.contenu h2 {
  margin: 20px auto 10px auto;
}

.contenu p {
  margin: 5px auto;
  padding: 0;
}

.contenu img {
  width: 100%;
}

.css_code {
  background-color: #212121;
  border-radius: 5px;
  color: white;
  padding: 10px;
}